@model HotelManagementSystem.Pages.FrontEndModel

<div>
    <table class="table">
        <thead>
            <tr>
                <th>订单编号</th>
                <th>价格</th>
                <th>预订时间</th>
                <th>预计入住时间</th>
                <th>预计退房时间</th>
                <th>是否入住</th>
                <th>是否退房</th>
                <th>是否结款</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Bill in Model.Bills)
            {
                <tr>
                    <td>@Bill.bill_id</td>
                    <td>@Bill.bill_price</td>
                    <td>@Bill.bill_bookTime</td>
                    <td>@Bill.bill_checkInTime.ToString("yyyy-MM-dd")</td>
                    <td>@Bill.bill_checkOutTime.ToString("yyyy-MM-dd")</td>
                    @if (Bill.bill_trueCheckInTime != null)
                    {
                        <td>是</td>
                    }
                    else
                    {
                        <td>否</td>
                    }
                    @if (Bill.bill_trueCheckOutTime != null)
                    {
                        <td>是</td>
                    }
                    else
                    {
                        <td>否</td>
                    }
                    @if (Bill.bill_payTime != null)
                    {
                        <td>是</td>
                    }
                    else
                    {
                        <td>否</td>
                    }
                    <td>
                        <a class="btn btn-info" asp-area="" asp-page="/FrontEnd/Bills/Detail"
                            asp-route-billId="@Bill.bill_id">订单详情</a>
                    </td>
                    @{
                        var adminPermission = User.HasClaim("stuff_role", "经理") || User.HasClaim("stuff_role", "管理员") ||
                        User.HasClaim("stuff_role", "前台");
                        if (adminPermission)
                        {
                            <td>
                                @if (Bill.bill_checkInTime <= DateTime.Today && DateTime.Today <= Bill.bill_checkOutTime &&
                           Bill.bill_trueCheckOutTime == null)
                                {
                                    <form asp-action="BillCheck" asp-controller="FrontEnd" method="post">
                                        <input type="hidden" name="billId" value="@Bill.bill_id" />
                                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl">
                                        @if (Bill.bill_trueCheckInTime != null)
                                        {
                                            <button type="submit" class="btn btn-primary">未入住</button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-primary">已入住</button>
                                        }
                                    </form>
                                }
                            </td>

                            <td>
                                @if (Bill.bill_trueCheckInTime != null)
                                {
                                    <form asp-action="BillOut" asp-controller="FrontEnd" method="post">
                                        <input type="hidden" name="billId" value="@Bill.bill_id" />
                                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl">
                                        @if (Bill.bill_trueCheckOutTime != null)
                                        {
                                            <button type="submit" class="btn btn-primary">未退房</button>
                                        }
                                        else
                                        {

                                            <button type="submit" class="btn btn-primary">已退房</button>
                                        }
                                    </form>
                                }
                            </td>
                            <td>
                                <form asp-action="BillPay" asp-controller="FrontEnd" method="post">
                                    <input type="hidden" name="billId" value="@Bill.bill_id" />
                                    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl">
                                    @if (Bill.bill_payTime != null)
                                    {
                                        <button type="submit" class="btn btn-primary">未结款</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary">已结款</button>
                                    }
                                </form>
                            </td>
                            <td>
                                <a class="btn btn-primary" asp-area="" asp-page="/FrontEnd/Bills/Bills"
                                    asp-route-billId="@Bill.bill_id">编辑</a>
                            </td>
                            <td>
                                <form asp-action="BillDelete" asp-controller="FrontEnd" method="post"
                                    onclick="return confirm('确定要删除这个订单吗？');">
                                    <input type="hidden" name="billId" value="@Bill.bill_id" />
                                    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl">
                                    <button type="submit" class="btn btn-danger">删除</button>
                                </form>
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
