@model HotelManagementSystem.Pages.FrontEndModel

<div>
    <table class="table">
        <thead>
            <tr>
                <th>订单编号</th>
                <th>顾客姓名</th>
                <th>身份证号</th>
                <th>电话号码</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model.Clients)
            {
                <tr>
                    <td>@client.Billbill_id</td>
                    <td>@client.client_name</td>
                    <td>@client.client_trueId</td>
                    <td>@client.client_tel</td>
                    @{
                        var adminPermission = User.HasClaim("stuff_role", "经理") || User.HasClaim("stuff_role", "管理员") ||
                        User.HasClaim("stuff_role", "前台");
                        if (adminPermission)
                        {
                            <td>
                                <a class="btn btn-primary" asp-area="" asp-page="/FrontEnd/Clients/Clients"
                                    asp-route-clientId="@client.client_id">编辑</a>
                            </td>
                            <td>
                                <form asp-action="ClientDelete" asp-controller="FrontEnd" method="post"
                                    onclick="return confirm('确定要删除这个客人吗？');">
                                    <input type="hidden" name="clientID" value="@client.client_id" />
                                    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl">
                                    <button type="submit" class="btn btn-danger">删除</button>
                                </form>
                            </td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
