@model HotelManagementSystem.Pages.StuffModel
@using System.Security.Claims

<div>
    <table class="table">
        <thead>
            <tr>
                <th>工号</th>
                <th>姓名</th>
                <th>角色</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stuff in Model.Stuff)
            {
                <tr>
                    <td>@stuff.StuffNumber</td>
                    <td>@stuff.StuffName</td>
                    <td>@stuff.StuffRole</td>
                    @{
                        var adminPermission = User.HasClaim("stuff_role", "经理") || User.HasClaim("stuff_role", "管理员");
                        var managerPermission = User.HasClaim("stuff_role", "经理");
                        var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                        if (adminPermission)
                        {
                            if (stuff.StuffRole != "经理" && (stuff.StuffRole != "管理员" || managerPermission))
                            {
                                <td>
                                    <a class="btn btn-primary" asp-area="" asp-page="/Stuff/Register"
                                        asp-route-stuffId="@stuff.StuffId">编辑</a>
                                </td>
                                <td>
                                    <form asp-action="ChangeRole" asp-controller="Stuff" method="post">
                                        <input type="hidden" name="Id" value="@stuff.StuffId" />
                                        <button type="submit" class="btn btn-primary">改变角色</button>
                                    </form>
                                </td>
                                <td>
                                    <form asp-action="Delete" asp-controller="Stuff" method="post"
                                        onclick="return confirm('确定要删除这个员工吗？');">
                                        <input type="hidden" name="Id" value="@stuff.StuffId" />
                                        <button type="submit" class="btn btn-danger">删除</button>
                                    </form>
                                </td>
                            }

                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
